<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Movie Duration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"/>
    <script src="main.js"></script>
</head>
<body>
    <h2>This collection belongs to {{ name }}</h2>
    <h3>path to css file: {{ url_for('static', filename='css/styles.css') }}</h3>

    <table>
        <tr>
            <th>movie</th>
            <th>length</th>
            <th>comments</th>

            {% for movie, length in movies.items() %}
            <tr>
                <td>{{ movie }}</td>
                <td>{{ length }}</td>
                {% if length <= 2 %}
                <td>short</td>
                {% elif length <= 3 %}
                <td>medium</td>
                {% else %}
                <td style="color: red">large</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tr>
    </table>
</body>
</html>